@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
}


html{
  background: url('../Resources/未命名作品\ 5.png') no-repeat center center fixed;
  background-size: cover;
}

html,body {
  cursor: url('../Resources/cursor.cur') 16 16, auto;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    background: linear-gradient(90deg, rgba(255, 198, 128, 0.697)0%,
    rgba(255, 143, 45, 0.514)100%);
}

.menu2{
  display: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
  }

  .menu2{
    display: none;

  }

.menu li a{
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
    font-family: "Pacifico", cursive;
}

h1.logo{
    color: white;
    font-family: "Pacifico", cursive;
    transition: all 1s ease-in-out;
}

h1.logo:hover{
    color: rgb(248, 137, 0);
    cursor: pointer;
}

.menu li a:hover{
    background-color: white;
    color: antiquewhite;
}

.logoimg{
    width:7%;
    height: auto;
    padding: 0;
    margin: 0;
  }

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.vi {
  width: 90%;
  position: relative;
  margin: 2rem auto;
  border: 5px solid antiquewhite;
  border-radius: 10px;
}

video {
  width: 90%;
  height: auto;
}

  @media only screen and (min-width: 768px) and (max-width: 1024px) {


    .menu li a{
      font-size: 1.2rem;
    }

    h1.logo {
      font-size: 1.5rem;
    }

  }

  @media only screen and (max-width: 767px) {


    body{
      background: none;
    }

    h1.logo{
      font-size: 2rem;
    }

    h1.logo:hover{
      font-size: 2rem;
    }

    .menu li {
      font-size: 1.2rem;
    }

    header{
      background-color: rgba(241, 189, 120, 0.883);
      flex-direction: column;
      display: none;
      
    }

    .menu2{
       display: flex;
    }

    .logoimg{
      width: 12%;
    }

    .vi {
      width: 90%;
      position: relative;
      margin: 1rem auto;
      border: 5px solid antiquewhite;
      border-radius: 10px;
    }

    nav{
      display: none;
    }

    .show{
      display: block;
    }

  }





